html {
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(110deg, #f93d66, #6d47d9);
  background-attachment: fixed;

}


.img-list {
  margin-top: 20px;
  max-width: 70%
}

img {
  height: 30rem;
  width: 30rem;
  border-radius: 15px;
  padding: 1rem;
}

.app {
  display: flex;
  justify-content: center
}
